[Unit]
Description=Hello World Flask App Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/gunicorn --bind 0.0.0.0:5000 --chdir /home/python-app wsgi:app
ExecStop=/usr/bin/echo Stopped
User=ec2-user

[Install]
WantedBy=default.target
